<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fhh.technology">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.TechnologyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".module.splash.AnimationSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Animation_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".module.update.DownloadService" />

        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.login.register.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.animation.AnimationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.animation.other.AnimationOtherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.customview.ViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.animation.button.AnimationButtonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.person.author.AboutAuthorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.theme.ThemeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.discover.cardview.CardViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.discover.annular.AnnularPercentageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.discover.edit.EditTextActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.headicon.HeadPortraitActivity"
            android:screenOrientation="portrait" />

        <!--${applicationId}==包名-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths2" />
        </provider>

        <activity
            android:name=".module.discover.sqlite.SQLiteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.discover.progress.ProgressStepActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.discover.humor.HumorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.discover.weather.WeatherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.home.constraint.ConstraintLayoutActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>